body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: rgba(104, 101, 101, 1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.button {
  padding: 18px 75px;
  border-radius: 10px;
  background-color: rgba(32, 0, 231, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  line-height: 1.5;
  border: none;
}

.container {
  font-family: Poppins, sans-serif;
}

.article {
  padding: 0 78px;
}

.header {
 padding-top: 45px;
 margin-bottom: 200px;
 padding: 0 78px;
}

.nav-list {
  padding: 0;
  padding-top: 45px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.first-element {
  margin-right: auto;
}

.first-element a {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  color: rgba(14, 5, 120, 1);
}

.nav-list-item {
  font-size: 30px;
  line-height: 1.5;
  flex-basis: 15%;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.right-side-hero {
  background-image: url('../img/hero.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 600px;
  min-height: 600px;
}

.left-side {
  max-width: 616px;
}

.yellow {
  color: rgba(242, 189, 0, 1);
}

.section-header {
  padding: 0;
  margin: 0;
  color: rgba(32, 0, 231, 1);
  font-size: 48px;
  line-height: 1.5;
}

.hero-header {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
}

.hero-descr {
  font-size: 24px;
  color: rgba(56, 56, 56, 1);
  margin-bottom: 100px;
}

.hero-button {
  margin-right: 80px;
}

.white {
  border: 2px solid rgba(32, 0, 231, 1);
  color: rgba(32, 0, 231, 1);
  background-color: #fff;
}

.about-me {
  background-color: rgba(67, 186, 253, 0.06);
  display: flex;
  padding: 0 45px;
  min-height: 900px;
  margin-bottom: 300px;
  padding-right: 0;
}

.left-side-about {
  margin: auto;
  max-width: 415px;
}

.right-side-about {
  min-width: 950px;
  min-height: 800px;
  background-image: url('../img/about_me.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  
}

.about-header {
  letter-spacing: 0.3em;
}

.about-button {
  margin-top: 15px;
  margin-left: 25px;
}

.proj {
  text-align: center;
  background-color: rgba(255, 214, 150, 0.2);
  padding-top: 35px;
  margin-bottom: 270px;
}

.proj-descr {
  margin-bottom: 45px;
}

.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-item {
  margin-right: 186px;
  margin-bottom: 45px;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.contact {
  background-color: rgba(67, 186, 253, 0.06);
  padding: 0 68px;
  padding-right: 0;
  margin-bottom: 210px;
}

.contact-header {
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 10px;
  padding-top: 67px;
}

.contact-descr {
  margin: 0;
  text-align: center;
  margin-bottom: 160px;
}

.wrapper {
  display: flex;
}

.left-side-contact {
  max-width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side-contact {
  position: relative;
  width: 50%;
  height: 950px;
  background-image: url('../img/contact-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 55px 16px;
  border:  none;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  color: black;
}

.input:not(:last-child) {
  margin-bottom: 81px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 1);
}

.area {
  margin-bottom: 50px;
}

.contact-button {
  width: 327px;
  padding: 28px 100px 18px;
  background-color: #fff;
  border: none;
  font-size: 32px;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: rgba(255, 214, 150, 0.2);
  padding-top: 130px;
  font-family: Jost , sans-serif;
}

.footer-flex {
  display: flex;
  border-bottom: 3px solid black;
  margin: 0 50px;
  justify-content: space-between;
}

.footer-wrapper {
  max-width: 17%;
}

.footer-header {
  font-family: Poppins, sans-serif;
  letter-spacing: 10px;
  color: rgba(14, 5, 120, 1);
  margin-top: 0;
  margin-bottom: 50px;
}

.combo-sub {
  display: flex;
}

.sub-button {
  position: relative;
  border: none;
  padding: 24px 17px;
  border-radius: 30px;
  background-color: rgba(249, 101, 252, 1);
  font-weight: 700;
  font-size: 31px;
  color: #fff;
  line-height: 1.5;
  left: -60px;
}

.subscr-input {
  position: relative;
  padding: 25px 33px 28px;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 1);
  left: -20px;
}

.subscr-input::placeholder {
  position: relative;
  color: white;
  font-weight: 700;
  font-size: 31px;
  font-family: Jost,sans-serif;
  vertical-align: baseline;
  bottom: -8px;
} 

.footer-wrapper:not(:last-child) {
  margin-bottom: 100px;
}

.footer-item:not(:last-child) {
  margin-bottom: 25px;
}

.footer-item a {
  color: rgba(0, 0, 0, 1);
}

.footer-item:first-child {
  font-weight: 700;
}

.footer-address, .footer-phone {
  color: rgba(0, 0, 0, 1);
  display: block;
  margin-bottom: 20px;
}

.contacs-descr {
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  padding: 80px 45px 50px;
  align-items: center;

}

.social-descr {
  margin-right: auto;
}

.social-link {
  width: 76px;
  height: 76px;
}

.social-link:not(:last-child) {
  margin-right: 50px;
}

.youtube {
  background-image: url('../img/youtube.png');
  background-repeat: no-repeat;
  background-position: center;
}

.inst {
  background-image: url('../img/inst.png');
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url('../img/facebook.png');
  background-repeat: no-repeat;
  background-position: center;
}

.linkedin {
  background-image: url('../img/linkedin.png');
  background-repeat: no-repeat;
  background-position: center;
}